<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>America</string>
		<string>Alexander</string>
	</array>
	<key>B</key>
	<array>
		<string>Blaik</string>
		<string>Blandy</string>
	</array>
	<key>C</key>
	<array>
		<string>Canadia</string>
		<string>Candy</string>
	</array>
	<key>D</key>
	<array>
		<string>Davide</string>
		<string>Doven</string>
	</array>
</dict>
</plist>
